# Criação do modelo de Machine Learning, capaz de fazer a verificação dos sentimentos de cada frase

In [3]:
# Imports
import numpy as np
import pandas as pd
from unidecode import unidecode
import spacy

In [4]:
data = pd.read_csv("C:/Projetos Pessoais/dados/imdb-reviews-pt-br.csv")

In [5]:
data.head()

,id,text_en,text_pt,sentiment
0,1,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg
1,2,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg
2,3,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg
3,4,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg
4,5,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg

In [6]:
# Info do conjunto de dados
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49459 entries, 0 to 49458
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         49459 non-null  int64
 1   text_en    49459 non-null  object
 2   text_pt    49459 non-null  object
 3   sentiment  49459 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.5+ MB

In [8]:
data['sentiment_int'] = data['sentiment'].map({"pos":1, "neg":0})

In [9]:
data.sample()

,id,text_en,text_pt,sentiment,sentiment_int
46226,46228,I dont want to spend to long here rambling abo...,Eu não quero gastar muito tempo aqui divagando...,pos,1

In [10]:
# Load dados em portugues

nlp = spacy.load("pt_core_news_lg")

### <font color="red"> Criando função de Lematização para os verbos

In [12]:
def lematizer(text):

   # Lista de sentenças e documentos
   sentencas = []
   doc = nlp(text) # leitura do text e interpretar em lg de processamento

   for palavra in doc:
      if palavra.pos_ == "VERB":
         sentencas.append(palavra.lemma_) # se for verbo, extrai o lemma
      else:
         sentencas.append(palavra.orth_) # se n for verbo, extrai a palavra

   return " ".join(sentencas)